
<div class="slider_area">
<div class="slider_active owl-carousel">
<div class="single_slider  d-flex align-items-center slider_bg_2">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="slider_text ">
<h3> <span>Online Health Clinic</span> <br>
For Whole Family </h3>
<p>In healthcare sector, service excellence is the facility of <br> the hospital as
healthcare service provider to consistently.</p>
<a href="publicChat" class="boxed-btn3">Public Chat Group</a>
</div>
</div>
</div>
</div>
</div>
<div class="single_slider  d-flex align-items-center slider_bg_1">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="slider_text ">
<h3> <span>Online Health Clinic</span> <br>
For Whole Family </h3>
<p>In Online Health Clinic sector, service excellence is the facility of <br> the hospital as
Online Health Clinic service provider to consistently.</p>
<a href="publicChat" class="boxed-btn3">Public Chat Group</a>
</div>
</div>
</div>
</div>
</div>
<div class="single_slider  d-flex align-items-center slider_bg_2">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="slider_text ">
<h3> <span>Online Health Clinic</span> <br>
For Whole Family </h3>
<p>In healthcare sector, service excellence is the facility of <br> the hospital as
healthcare service provider to consistently.</p>
<a href="appointment" class="boxed-btn3">Make an Appointment</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
