

<div class="Emergency_contact">
<div class="conatiner-fluid p-0">
<div class="row no-gutters">
<div class="col-xl-6">
<div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue">
<div class="info">
<h3>For Any Emergency Contact</h3>
<p>Esteem spirit temper too say adieus.</p>
</div>
<div class="info_button">
<a href="#" class="boxed-btn3-white">01-5241260</a>
</div>
</div>
</div>
<div class="col-xl-6">
<div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue">
<div class="info">
<h3>Make an Online Appointment</h3>
<p>We have dedicated Doctors and health care workers who will help you online by giving suggestions. </p>
</div>
<div class="info_button">
<a href="#" class="boxed-btn3-white">Make an Appointment</a>
</div>
</div>
</div>
</div>
</div>
</div>


<footer class="footer">
<div class="footer_top">
<div class="container">
<div class="row">
<div class="col-xl-4 col-md-6 col-lg-4">
<div class="footer_widget">
<div class="footer_logo">
<a href="#">
<img src="img/footer_logo1.png" alt="">
</a>
</div>
<p>
    NEPAL-BHARAT MAITRI HOSPITAL<br>
Mitrapark, Kathmandu, Nepal
</p>
<div class="socail_links">
<ul>
<li>
<a href="#">
<i class="ti-facebook"></i>
</a>
</li>
<li>
<a href="#">
<i class="ti-twitter-alt"></i>
</a>
</li>
<li>
<a href="#">
<i class="fa fa-instagram"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
<div class="footer_widget">
<h3 class="footer_title">
Departments
 </h3>
<ul>
<li><a href="#">Urology</a></li>
<li><a href="#">Pulmonology</a></li>
<li><a href="#">Pediatrics</a></li>
<li><a href="#">Ophthalmology</a></li>
<li><a href="#">Dental Surgery</a></li>
<li><a href="#">Ophthalmology</a></li>
<li><a href="#">Orthopedic Surgery & Traumatology</a></li>
<li><a href="#">Pediatrics</a></li>
<li><a href="#"> Appointment</a></li>
</ul>
</div>
</div>
<div class="col-xl-2 col-md-6 col-lg-2">
<div class="footer_widget">
<h3 class="footer_title">
Useful Links
</h3>
<ul>
<li><a href="#">About</a></li>
<li><a href="#"> Contact</a></li>
<li><a href="#">Neurology</a></li>
<li><a href="#">Neurosurgery</a></li>
<li><a href="#">Obstetrics & Gynecology</a></li>
<li><a href="#">Ophthalmology</a></li>
<li><a href="#">Orthopedic Surgery & Traumatology</a></li>
<li><a href="#">Pediatrics</a></li>
</ul>
</div>
</div>
<div class="col-xl-3 col-md-6 col-lg-3">
<div class="footer_widget">
<h3 class="footer_title">
Address
</h3>
<p>
Mitrapark, Kathmandu, Nepal <br>
 01-5241288, 01-5241260  <br>
<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="55313a3638303115363a3b213436217b363a38">[email&#160;info@nbmh.com.np]</a>
</p>
</div>
</div>
</div>
</div>
</div>
<div class="copy-right_text">
<div class="container">
<div class="footer_border"></div>
<div class="row">
<div class="col-xl-12">
<p class="copy_right text-center">

Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="6ccebf442c545f2cbbe44074-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | Designed <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/babutul" target="_blank">Babu Tul</a>

</p>
</div>
</div>
</div>
</div>
</footer>

<!--

<form id="test-form" class="white-popup-block mfp-hide">
<div class="popup_box ">
<div class="popup_inner">
<h3>Make an Appointment</h3>
<form action="#">
<div class="row">
<div class="col-xl-6">
<input id="datepicker" placeholder="Pick date">
</div>
<div class="col-xl-6">
<input id="datepicker2" placeholder="Suitable time">
</div>
<div class="col-xl-6">
<select class="form-select wide" id="default-select" class="">
<option data-display="Select Department">Department</option>
<option value="1">Eye Care</option>
<option value="2">Physical Therapy</option>
<option value="3">Dental Care</option>
</select>
</div>
<div class="col-xl-6">
<select class="form-select wide" id="default-select" class="">
<option data-display="Doctors">Doctors</option>
<option value="1">Mirazul Alom</option>
<option value="2">Monzul Alom</option>
<option value="3">Azizul Isalm</option>
</select>
</div>
<div class="col-xl-6">
<input type="text" placeholder="Name">
</div>
<div class="col-xl-6">
<input type="text" placeholder="Phone no.">
</div>
<div class="col-xl-12">
<input type="email" placeholder="Email">
</div>
<div class="col-xl-12">
<button type="submit" class="boxed-btn3">Confirm</button>
</div>
</div>
</form>
</div>
</div>
</form>-->


<script src="js/vendor/modernizr-3.5.0.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/vendor/jquery-1.12.4.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/popper.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/bootstrap.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/owl.carousel.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/isotope.pkgd.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/ajax-form.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/waypoints.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/jquery.counterup.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/imagesloaded.pkgd.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/scrollIt.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/jquery.scrollUp.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/wow.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/nice-select.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/jquery.slicknav.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/jquery.magnific-popup.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/plugins.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/gijgo.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>

<script src="js/contact.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/jquery.ajaxchimp.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/jquery.form.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/jquery.validate.min.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/mail-script.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script src="js/main.js" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script type="6ccebf442c545f2cbbe44074-text/javascript">
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="6ccebf442c545f2cbbe44074-text/javascript"></script>
<script type="6ccebf442c545f2cbbe44074-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="6ccebf442c545f2cbbe44074-|49" defer=""></script></body>
<!--<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5e96b5de69e9320caac3b598/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>-->
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 11906289;
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
</script>
<noscript>
<a href="https://www.facebook.com/messages/t/babutul">Chat with us</a>,
powered by <a href="https://www.facebook.com/babutul"arget="_blank">MeroEclinic</a>
</noscript>
<!-- End of LiveChat code -->

</html>
