
<div class="service_area">
<div class="container p-0">
<div class="row no-gutters">
<div class="col-xl-4 col-md-4">
<div class="single_service">
<div class="icon">
<i class="flaticon-electrocardiogram"></i>
</div>
<h3>Online Health Clinic</h3>
<p>Clinical excellence must be the priority for any health care service provider.</p>
<a href="appointment" class="boxed-btn3-white">Apply For a Bed</a>
</div>
</div>
<div class="col-xl-4 col-md-4">
<div class="single_service">
<div class="icon">
<i class="flaticon-emergency-call"></i>
</div>
<h3>Emergency Care</h3>
<p>Clinical excellence must be the priority for any health care service provider.</p>
<a href="#" class="boxed-btn3-white">01-5241288, 01-5241260</a>
</div>
</div>
<div class="col-xl-4 col-md-4">
<div class="single_service">
<div class="icon">
<i class="flaticon-first-aid-kit"></i>
</div>
<h3> Service</h3>
<p>Clinical excellence must be the priority for any health care service provider.</p>
<a href="appointment" class="boxed-btn3-white">Our Services</a>
</div>
</div>
</div>
</div>
</div>


